<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
     <link rel="stylesheet" href="/stylesheets/normalize.css" />
   
    <link rel="icon" href="img/home/favicon-32x32.png" type="image/x-icon">
</head>
<body>
     <header class="holder">
      <img
        src="/images/logo.jpg"
        alt="Punto Z"
        height="100"
        width="100"
        class="logo"
      />

      <div>
        <h1>PUNTO Z</h1>
        <h2>
          Impresiones 3D <br />
          Corte y grabados láser
        </h2>
      </div>
    </header>
     {{{body}}}
      <footer class="holder">
      <p class="footer">Diseñado por Anabel Loyra - &copy;2024</p>
    </footer>
</body>
</html>